/*备注，calculator是我自己的，jcalculator是插件生成的 */
#calculator
{
	height:100%;
}

.jcalculator_wrap {
    position: relative;
}
.calculator {
	height:100%;
    width: 100%;    
    position: absolute;
    right: 0; 
    font-family: Helvetica, Arial, Verdana, sans-serif;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.jcalculator
{
	height:200px;
    width: 200px;    
    position: absolute;
    right: 0; 
    top:40px;
    line-height:50px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.jcalculator span,.calculator span {	 
   background: #232323; 
	/* for Webkit */ 
	background: -webkit-gradient(linear, left top, left bottom, from(#232323), to(#191919)); 
	/* for Firefox */ 
	background: -moz-linear-gradient(top,  #232323,  #191919); 
	/* for IE */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7',  
	endColorstr='#191919'); 
    cursor: pointer;
    color: #fff;
    float: left;
    display: block;
    width: 33.3%;
    height: 25%;
   /* line-height: -moz-block-height;*/
    /*font-size: 12px;*/
    font-size:30px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
.jcalculator span:active,.calculator span:active
{ 
    padding-top:3px;
	background: #eb0934;
}
.jcalculator .operation,.calculator .operation {
    background: #191919;
}
