
.mui-bar-nav ~ .mui-content
{	
	 padding-top: 0px;
	margin-top:44px;	
}


*
{
     -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.mui-grid-view.mui-grid-9
{
	border-top: none;
	border-left: none;
	background: rgba(0,0, 0,0);
}
.mui-grid-view.mui-grid-9 .mui-media
{
	color:#fff;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body
{
	color:#fff;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell
{ 
	border-right: none;
	border-bottom: none; 
}
