


/* 涟漪特效 */ 

.dot {
  display: block;
  height: 20px;
  width: 20px;  
  background: transparent;
  border-radius: 100%;  
  position: absolute;
  animation: sploosh 1.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation:sploosh 1.25s cubic-bezier(0.165, 0.84, 0.44, 1);  
  -ms-animation:sploosh 1.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation:sploosh 1.25s cubic-bezier(0.165, 0.84, 0.44, 1); 
   background: transparent;   
  z-index:9999;    
  
} 


@keyframes sploosh
{
  0% {
    box-shadow: 0 0 0 0px rgba(66, 166, 223, 0.7);
    background: rgba(66, 166, 223, 0.7); 
  }
  100% {
    box-shadow: 0 0 0 300px rgba(66, 166, 223, 0);
    background: rgba(66, 166, 223, 0);
  }
} 

@-webkit-keyframes sploosh
{
  0% { 
    -webkit-box-shadow: 0 0 0 0px rgba(66, 166, 223, 0.7);
    -webkit-background: rgba(66, 166, 223, 0.7);
  }
  100% {
    -webkit-box-shadow: 0 0 0 300px rgba(66, 166, 223, 0);
    -webkit-background: rgba(66, 166, 223, 0);
  }
}


@-ms-keyframes sploosh
{
  0% {  
    -ms-box-shadow: 0 0 0 0px rgba(66, 166, 223, 0.7);
    background: rgba(66, 166, 223, 0.7);
  }
  100% {
    -ms-box-shadow: 0 0 0 300px rgba(66, 166, 223, 0);
    background: rgba(66, 166, 223, 0);
  }
}


@-moz-keyframes sploosh
{  
  0% { 
    box-shadow: 0 0 0 0px rgba(66, 166, 223, 0.7);
    background: rgba(66, 166, 223, 0.7);
  }
  100% {
    box-shadow: 0 0 0 300px rgba(66, 166, 223, 0);
    background: rgba(66, 166, 223, 0);
  }
}

/* Custom tools class*/
.verticalcenter
{
position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}

.myfilter
{
	 -moz-filter: blur(5px);
	-webkit-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.myanimate{
	transition:  2s,ease-in;
	-moz-transition:  2s,ease-in; /* Firefox 4 */
	-webkit-transition:  2s,ease-in; /* Safari 和 Chrome */
	-o-transition:  2s,ease-in; /* Opera */
	-ms-transition:2s,ease-in; /* IE */
}

.opacity
{
	opacity: 0;
}

.clearpadding {
	padding: 0px;
}

.clearmargin {
	margin: 0px;
}

.auto {
	margin: 0px auto;
}

.clear {
	clear: both;
}


/* Global style configuration */
.mui-table-view-cell:active
{
	background: rgba(127, 255, 212,.3)
}
.footer {
	padding: 20px;
	text-align: center;                               
	color: #FFf;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell
{
	padding:11px 0px;
	margin: 0px 0px 0px -3px; 	/* 兼容安卓机 */
}

 
.mui-off-canvas-left,
.mui-off-canvas-right {
	color: #fff;
}

.title {
	margin: 35px 15px 10px;
}

.title+.content {
	margin: 10px 15px 35px;
	color: #bbb;
	text-indent: 1em;
	font-size: 14px;
	line-height: 24px;
}

input {
	color: #000;
}


/* assistive AND the menu */


.assistive-wrap {
	width: 58px;
	height: 58px;
	position: fixed;
	top: 50%;
	margin-top: -29px;
	left: 1px;
	z-index: 9999;
}

.assistive-touch {
	width: 100%;
	height: 100%;
	background: #343434;
	border-radius: 10px;
	opacity: .3;
	position: relative;
}

.assistive-touch:active
{
	opacity: .8;
}

.assistive-touch:before,
.assistive-touch:after,
.assistive-touch span {
	content: '';
	position: absolute;
	border-radius: 100%;
	box-shadow: 0 0 2px rgba(30, 30, 30, .5);
	display: block;
	background: rgba(255, 255, 255, .6);
}

.assistive-touch:before {
	width: 42px;
	height: 42px;
	left: 8px;
	top: 8px;
	opacity: .5;
}

.assistive-touch span {
	width: 34px;
	height: 34px;
	left: 12px;
	top: 12px;
}

.assistive-touch:after {
	width: 26px;
	height: 26px;
	left: 16px;
	top: 16px;
	background: #fff;
}

.assistiveTouch .mui-grid-view.mui-grid-9 {
	border: 0px;
	background: transparent;
}

.assistiveTouch .mui-grid-view.mui-grid-9 .mui-media,
.assistiveTouch .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
	border: 0px;
	color: #fff;
}

.assistiveTouch .mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active {
	background: #000;
}

/* 左滑返回提醒箭筒 */
#leftpage
	{
		background: rgba(0,0,0,0.6);
		color:#ffffff;		
		position:fixed;
		left:-66px;
		top:50%;
	  z-index: 19930418;		
		padding: 10px;
	}
	#leftpage .mui-icon
	{
		font-size:46px;
	}
	

/* 优化 */
*{ 
	-webkit-touch-callout: none; /* 禁止长按下载图片 */
	-webkit-user-select: none;  /* 禁止用户选中文字 */	
}

body 
{
	-webkit-overflow-scrolling: touch;
}



