@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1454577791_7897305.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1454577791_7897305.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1454577791_7897305.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1454577791_7897305.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1454577791_7897305.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    

.iconfont{
font-family:"iconfont";
font-size:36px;font-style:normal;
}
                  
