@font-face {
 font-family: "iconfont";
  src: url('../fonts/tb_ico/iconfont.eot'); /* IE9*/
  src: url('../fonts/tb_ico/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/tb_ico/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/tb_ico/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/tb_ico/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                              


.iconfont {
  font-family:"iconfont" !important;
  font-size:36px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.icon-settings:before { content: "\e617"; }
.icon-suo:before { content: "\e609"; }
.icon-unie606:before { content: "\e60d"; }
.icon-huochepiao:before { content: "\e619"; }
.icon-tuichu:before { content: "\e605"; }
.icon-fanhui:before { content: "\e601"; }
.icon-qianbao:before { content: "\e602"; }
.icon-weixin:before { content: "\e61a"; }
.icon-jijian:before { content: "\e60e"; }
.icon-yuyuechulizhong:before { content: "\e607"; }
.icon-saomazhifu:before { content: "\e61c"; }
.icon-repair:before { content: "\e618"; }
.icon-shibai:before { content: "\e603"; }
.icon-chongdiao1:before { content: "\e60b"; }
.icon-iconchenggong:before { content: "\e604"; }
.icon-time:before { content: "\e606"; }
.icon-weizhang:before { content: "\e600"; }
.icon-che:before { content: "\e61d"; }
.icon-qujian:before { content: "\e610"; }
.icon-jiesuo:before { content: "\e608"; }
.icon-jine:before { content: "\e60c"; }
.icon-woyaodaishoucainiao:before { content: "\e60f"; }
.icon-kuaidi:before { content: "\e61e"; }
.icon-dianpu:before { content: "\e611"; }
.icon-chabingzheng:before { content: "\e612"; }
.icon-shoujichongzhi:before { content: "\e61f"; }
.icon-shouzhiliushuizhang:before { content: "\e60a"; }
